body {
    background-color: gold;
    font-family: "Poppins", sans-serif;
}

.center {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5% 5%;
    text-align: center;
}

.green-bg {
    color: green;
    font-weight: 600;
}

.black-bg {
    font-weight: 600;
}

button {
    background-color: green;
    border-radius: 5%;
    color: white;
    padding: 10px 16px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
}

#logo {
    height: 100px;
    width: 100px;
}

.choice-btn {
    width: 20%;
    margin-top: 1%;
}

#next-button {
    background-color: rgb(55, 54, 54);
}

h1 {
    font-size: 3rem;
    margin: .5em; 
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;  
}

#quiz-page h3 {
    font-size: 1.2rem;
    padding-top: 3%;
}

p {
    font-size:.8rem;
}

#score-area {
    padding-top: 0;
}

h4 {
    font-size: 1.3rem;
}

.scores {
    font-weight: 700;
}

#correctNum {
    color: blue;
    padding-right: 5%;
}

#wrongNum {
    color: red;
}

#final-score h4 {
    font-size: 2rem;
}

#source-area {
    font-size: .7rem;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .choice-btn {
        width: 80%;
        margin-top: 1%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    #final-score h4 {
        font-size: 1.6rem;
    }


}

@media only screen and (max-width: 768px) {
    .choice-btn {
        width: 60%;
        margin-top: 1%;
    }

}