body {
    background-color: gold;
    font-family: "Poppins", sans-serif;
}


.center {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5% 5%;
    text-align: center;
}

button {
    background-color: green;
    border-radius: 5%;
    color: white;
    padding: 10px 16px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
}

.choice-btn {
    width:15%;
    margin-top: 1%;
}
 
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

p {}

#score-area {
    padding-top: 3%;
}

h4 {
    font-size: 1.3rem;
}

.scores {
    font-weight: 700;
}

#correctNum {
    color: blue;
    padding-right: 5%;
}

#wrongNum {
    color: red;
}

